version: "3.9"

services:
  unmatched:
    container_name: unmatched
    build:
      context: .
      dockerfile: Dockerfile
    restart: unless-stopped

    # only needed inside docker; nginx will reach it via proxy_net
    expose:
      - "8001"

    networks:
      - proxy_net

networks:
  proxy_net:
    external: true
